.Header{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 10px #ef6c005c;
    
     
}
