@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Tajawal:wght@400;700&display=swap');
.singleAuth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    padding: 0.3rem;
    border-radius: 1rem;
    font-family: 'Alexandria', sans-serif;
    box-shadow: 1px 1px 10px #ef6c004f;

    
}


.singleAuth .image{
    width: 130px;
    height: 130px;
    /* background-color: red; */
    border-radius:4rem;
    overflow: hidden;
}
.singleAuth .image img{
    width: 100%;
}
.singleAuth .mainDescription,.secoundryDescription{
  text-align: center;
}
.singleAuth .secoundryDescription{
    font-family: "Tajawal";
}